<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <groups>
      <run>
        <include name="smoke" />
        <include name="sanity" />
      </run>
    </groups>
    <classes>
      <class name="TestNGMethods.TestNG" />
    </classes>
  </test>
</suite>